body{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-weight: bold;
    font-size: 5vw;
    padding-left: 1vw;
}

h1{
    position: sticky;
}
span{
    color: grey;
    font-size: 4vw;
    padding-left: 1vw;
}
@media (min-aspect-ratio: 9/12){
    p{
        font-size: 1vw;
    }
    span{
        font-size: 0.8vw;
    }
}
.error-text{
    font-size: 3vw;
}
.error-div{
    text-align: center;
    
}
.image-outline{
    position: relative;
    width: 96vw;
    /* animation-duration: 1.5s; */
}
@media (min-aspect-ratio: 9/12){
    .image-outline{
        width: 30vw;
        transition: width 2s;
    }
}
.image-div{
    width: 30vw;
    /* animation-name: enlarge-image; */
    /* animation-duration: 1.5s; */
        margin-top: 0vw;
        width: auto;
        padding-bottom: 1vw;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px; /* 5px rounded corners */
        /* transition: width 2s; */
    
}
@media (min-aspect-ratio: 9/21){
    .image-div .image-outline:hover{
        width: 33vw
    }
}

/* @media (min-aspect-ratio: 9/12){
    .image-outline:hover{
        animation-timing-function: ease; 
        transform: enlarge-image;
        position: relative;
        width: 35vw;
        height: auto;
    } 
} */
.button-div{
    padding-top: 3vw;
    padding-bottom: 3vw;
    margin-left: 50%;
    margin-right: 50%;
}
.more-button{
    color: grey;
    padding: 0px;
    border-color: grey;
    border-width: 0px;
    font-size: 8vw;
    border-radius: 50%;
    height: 10vw;
    width: 10vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.enlarge-image{
    animation: enlarge-image 1s timing-function delay iteration-count direction fill-mode;
}
@keyframes enlarge-image{
    0%{position: relative;
        width: 30vw;}
        /* 25%{
            position: relative;
        width: 31.75vw;
        height: auto;
        }
        75%{
            position: relative;
        width: 33.5vw;
        height: auto;
        } */
    100%{    position: relative;
        width: 35vw;
        height: auto;
    font-size: 6vw;
left: -2.5vw;}
}
.wrapper{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 96vw;
    row-gap: 1vh;
    
}
@media (min-aspect-ratio: 9/12){
    .wrapper{
        grid-template-columns: max-content max-content max-content;
        column-gap: 2vh;
    }
}
/* loading spinner */
.lds-spinner {

    margin-left: 50%;
    margin-right: 50%;

    align-items: center;
    justify-content: center;
    text-align: center;
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: grey;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  